# Configfile for fos2graphite.pl

# The logfile section describes the location of the logfile of fos2graphite.
[logging]
logdir = /opt/fos2graphite/log/
# Loglevel can be FATAL, ERROR, WARN, INFO, DEBUG and TRACE
loglevel = INFO

# The graphite section specifies the connection information for the carbon-cache.
# The host need to be specified with IP currently.
# The metric_format will specify whether metrics are reported in classic dot-separated format or using tags (for use with VictoriaMetrics).
# Options for metric_format are graphite-tag or graphite-dot (default)
[graphite]
graphite_host = 127.0.0.1
graphite_port = 2003
metric_format = graphite-dot

[Fabric_1]
# IP or DNS name of seed switch to be used to discover fabric
seedswitch = 192.168.1.2
# User and password used for all switches of fabric
user = restuser
password = restpasswd
# Enable (1) or disable (0) logging of counter from offline ports
collect_uports = 0
# Interval in seconds used for querying counters marked as performance counters in mertics.conf
perf_refresh_interval = 60
# Interval in seconds used for querying counters marked as stats counters in mertics.conf
stats_refresh_interval = 300
# Interval in seconds used for querying changes in fabric and discovery of end devices
config_refresh_interval = 900
# Metric configuration file containing metrics to be imported
metric_file = /opt/fos2graphite/conf/metrics.conf
# Option to enable (1) or disable (0) SSL certificate verification
ssl_verfiy_host = 1
# Option to enable collection of statistics for Initiators and Targets!
# none - no collection
# alias - collection based on zoning alias names of WWPNs
# wwpn - collection based on WWPNs
IT_collection = alias
# Option to specify offset in seconds (between 0 and 30) to the full minute to start polling of the fabric
# Can be used to avoid collision with other tools polling switches every full minute
# Can also be used to reduce load to carbon by usings different settings for each fabric
refresh_offset = 0
# fos2graphite has an option to monitor virtual fabrics. In this case a full section need to be defined for each individual
# virtual fabric!
# The virtual fabric is specified by defining the vFID of the virtual switch switch off the vFabric on the defined seed switch.
# 
# vFID = <vFID (e.g. 10)>
#
# Since a single pyhsical switch can contain multiple virtual / logical switches it is possible to define if switch hardware infos (CPU, Flash, Mem)
# should be monitored through the virtual switch to avoid collecting information for one hardware multiple times through als virtual switches.
#
# monitor_switchhardware = <0|1>

[Virtual_Fabric_22]
seedswitch = 192.168.1.3
user = restuser
password = restpasswd
collect_uports = 0
perf_refresh_interval = 60
stats_refresh_interval = 300
config_refresh_interval = 900
metric_file = /opt/fos2graphite/conf/metrics.conf
IT_collection = alias
refresh_offset = 30
vFID = 22
monitor_switchhardware = 1
