# Configfile for fos2graphite.pl

# The logfile section describes the location of the logfile of fos2graphite.
[logging]
logdir = /opt/fos2graphite/log/
# Loglevel can be FATAL, ERROR, WARN, INFO, DEBUG and TRACE
loglevel = DEBUG
#loglevel = INFO

# The graphite section specifies the connection information for the carbon-cache.
# The host need to be specified with IP currently.
[graphite]
graphite_host = 127.0.0.1
graphite_port = 2003

[Fabric_1]
# IP or DNS name of seed switch to be used to discover fabric
seedswitch = 192.168.1.2
# User and password used for all switches of fabric
user = restuser
password = restpasswd
# Enable (1) or disable (0) logging of counter from offline ports
collect_uports = 0
# Interval in seconds used for querying counter
counter_refresh_interval = 60
# Interval in seconds used for querying changes in fabric and discovery of end devices
config_refresh_interval = 900
# Metric configuration file containing metrics to be imported
metric_file = /opt/fos2graphite/conf/metrics.conf
# Option to enable (1) or disable (0) SSL certificate verification
ssl_verfiy_host = 1
# Option to enable collection of statistics for Initiators and Targets!
# none - no collection
# alias - collection based on zoning alias names of WWPNs
# wwpn - collection based on WWPNs
IT_collection = alias

[Fabric_2]
seedswitch = 192.168.1.3
user = restuser
password = restpasswd
collect_uports = 0
counter_refresh_interval = 60
config_refresh_interval = 900
metric_file = /opt/fos2graphite/conf/metrics.conf
IT_collection = alias
