# !Example - Copy to your preferred carbon cache configuration file!
# Schema definitions for Whisper files. Entries are scanned in order,
# and first match wins. This file is scanned for changes every 60 seconds.
#
#  [name]
#  pattern = regex
#  retentions = timePerPoint:timeToStore, timePerPoint:timeToStore, ...

# Carbon's internal metrics. This entry should match what is specified in
# CARBON_METRIC_PREFIX and CARBON_METRIC_INTERVAL settings

[carbon]
pattern = ^carbon\.
retentions = 60:90d

[brocade.fos.stats]
pattern = ^brocade\.fos\.stats\.
retentions = 5m:30d,15m:1y,1h:4y

[brocade.fos.perf]
pattern = ^brocade\.fos\.perf\.
retentions = 1m:7d,5m:30d,15m:1y,1h:4y

[brocade.fos2graphite]
pattern = ^brocade\.fos2graphite\.
retentions = 1m:7d,5m:30d,1h:4y

[default_1min_for_1day]
pattern = .*
retentions = 60s:1d
